<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @communicate.message %>
</p>

<%= link_to 'Edit', edit_communicate_path(@communicate) %> |
<%= link_to 'Back', communicates_path %>
